.value-box .value {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 3px 0;
  padding: 0;
}

.value-box .caption {
  font-size: 25px;
}

.goal-header {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}